.admin-view {
    .table-responsive {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.content-img-ticket {
    .img-default-ticket {
        background: $gris_background;
        margin: auto;
        padding: 30px;
    }
    .flexbox-b {
        float: right;
    }
}