@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);::-webkit-input-placeholder {
  color: #D5D4D4 !important;
}
:-ms-input-placeholder {
  color: #D5D4D4 !important;
}
::-ms-input-placeholder {
  color: #D5D4D4 !important;
}
::placeholder {
  color: #D5D4D4 !important;
}

:focus {
  outline: 0px !important;
}

body {
  letter-spacing: 2px;
}

a:hover {
  text-decoration: none;
}

.body-bg {
  background: url(../img/backgrounds/bg-bike-mask-v7.jpg) no-repeat;
  background-size: cover;
}

.form-control {
  border: none;
  border-radius: 0;
  color: #626262 !important;
  height: 45px;
  letter-spacing: 2px;
}

#app {
  height: 100vh;
}

.navbar {
  background-color: transparent;
  border: none;
  min-height: 166px;
  padding-top: 20px;
}

.navbar .navbar-nav {
  margin-right: 30px;
  margin-top: 40px;
}

.navbar .navbar-nav > li > a {
  color: #FFF;
  font-size: 17px;
  font-weight: 600;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  text-shadow: 1px 5px 19px rgba(0, 0, 0, 0.43);
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #F7E300;
}

.navbar-toggle {
  background: rgba(1, 25, 73, 0.6);
  position: absolute;
  right: 10px;
  top: 50px;
}

.navbar-toggle .icon-bar {
  background: #F7E300;
}

.navbar-brand img {
  width: 350px;
}

.navbar-collapse {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-submit {
  background: #F7E300;
  border-radius: 50px;
  color: #263A81;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 12px;
  width: 200px;
}

@media screen and (max-width: 1250px) {
  .navbar .navbar-nav > li > a {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .navbar-brand img {
    width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .navbar .navbar-nav {
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
  }
  .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background: rgba(1, 25, 73, 0.6);
  }
}

@media screen and (max-width: 600px) {
  #pageSytyle .panel {
    padding: 3% 5% !important;
  }
}

@media screen and (max-width: 480px) {
  .navbar-brand img {
    width: 80%;
  }
}

#pageSytyle a, #pageSytyle p {
  color: #FFF;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#pageSytyle a:hover {
  color: #F7E300;
}

#pageSytyle .panel {
  background: rgba(1, 25, 73, 0.6);
  border-radius: 0;
  padding: 3% 15%;
  padding-top: 0% !important;
}

#pageSytyle h3, #pageSytyle p, #pageSytyle .forget-password {
  font-weight: 600;
}

#pageSytyle h3 {
  color: #FFF;
  font-size: 20px;
  padding: 25px;
}

#pageSytyle p {
  margin-bottom: 5px;
}

#pageSytyle .content-actions {
  padding-top: 10px;
  padding-bottom: 10px;
}

#pageSytyle .forget-password {
  font-size: 12px;
}
