@charset "utf-8";
.overlay {
     position: fixed;
    top: -15vw;
    bottom: 0;
    left: -00vw;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
    z-index: 99;
}
#popup:target {
    visibility: hidden;
    opacity: 0;
}
#popupBody{
    width: 80%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #787373;
    position: relative;
    transition: all 5s ease-in-out;
    margin: 20% auto;
    z-index: 999;
    /* opacity: 1; */
    height: 35vw;
    top: 3vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#cerrar{
     position: absolute;
    top: -4vw;
    right: -3vw;
    transition: all 200ms;
    font-size: 3vw;
    font-weight: bold;
    text-decoration: none;
    color: #111010;
}




@media (min-width: 760px) {
   #popupBody{
     background-image: url("../img/baners/ceys.jpg")!important;
    }
}
@media (max-width: 760px) {
   #popupBody{
     background-image: url("../img/baners/des.jpg")!important;
     height: 70vh;
     top: 15vw;
    }
    #cerrar {
    position: absolute;
    top: -15vw;
    right: -3vw;
    transition: all 200ms;
    font-size: 9vw;
    font-weight: bold;
    text-decoration: none;
    color: #c25555;
}
}