//Normal
@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue.woff2') format('woff2'),
        url('/fonts/HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//bold-italic
@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-BoldItalic.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

//bold
@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

//light
@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-Light.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

html {
    font-family: 'Helvetica Neue';
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Helvetica Neue' !important;
}

html {
    scroll-behavior: smooth !important;
}
.lcc-button.js-lcc-accept, .lcc-button.js-lcc-settings-save{
    background:$azul !important;
    color: #f2e524 !important;
    border-radius: 10px;
}
.lcc-modal{
    border-top: 6px solid #e2211c;
}
.link-cookies{
    text-decoration: underline;
    color: #e2211c;
    &:hover{
        color: #e2211c;
        text-decoration: underline;
    }
}
.lcc-modal {
    position: fixed;
    left: 50%;
    bottom: -10% !important;
    transform: translate(-50%,-50%);
    width: 100% !important;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.25);
    z-index: 10001;
    padding: 30px;
}