::placeholder {
    color: $gris !important;
}

:focus {
    outline: 0px !important;
}

a {
    text-decoration: none !important;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

body {
    background: $blanco;
    letter-spacing: 2px;
}

html {
    height: 100%;
}

.body-bg {
    background: url(../img/backgrounds/bg-bike-mask-v7.jpg) no-repeat;
    background-size: cover;
    min-height: 100%;
}

.no-border {
    border: none !important;
}

// Estilos input
.form-control {
    border: none;
    border-radius: 0;
    color: $gris_oscuro !important;
    height: 45px;
    letter-spacing: 2px;
}

// .form-group {
//   a {
//     color: $amarillo !important;
//   }
// }

#formulario-ticket {
  .form-group {
    margin-bottom: 2rem !important;
  }
  p {
    font-size: 14px;
    margin-bottom: 25px !important;
  }
  .form-control {
    background: transparent;
    border-bottom: 2px solid white;
    height: 30px;
    color: white !important;
    font-size: 13px;
    font-weight: 100;

    &.form-check-input {
      width: 6%;
    }
  }
  .form-check-label {
    color: white;
    text-align: left;
    font-size: 12px;
  }

  small {
    color: white;
    font-size: 60%;
  }
}

#app {
    height: 100vh;
}

// Navbar
.navbar {
    background-color: transparent;
    border: none;
    min-height: 166px;
    // padding-top: 20px;
    position: absolute;
    width: 100%;
    z-index: 9;

    .navbar-nav {
        margin-right: 90px;
        margin-top: -30px;

        .nav-link {
            color: $blanco;
            font-size: 17px;
            font-weight: 600;
            padding-left: 20px;
            padding-right: 20px;
            transition: all .5s ease-in-out;
            text-shadow: 1px 5px 19px rgba(0, 0, 0, 0.43);
            text-decoration: none;

            &:hover,
            &:focus {
                background-color: transparent;
                color: $amarillo !important;
            }
        }
    }

    .navbar-nav .active>.nav-link {
        color: $amarillo !important;
    }

    .navbar-toggler-icon {
        background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=F9ED46');
    }
}

.navbar-home {
    position: fixed;

    .navbar-nav {
        margin-top: -50px;
    }
}

.navbar-toggler {
    background: transparent;
    border: none;
    font-size: 1.8rem;
    position: absolute;
    right: 20px;
    top: 50px;

    .icon-bar {
        background: $amarillo;
    }
}

.navbar-brand {
    img {
        width: 350px;
    }
}

.navbar-brand-home {
    img {
        width: 80%;
    }
}

.navbar-collapse {
    box-shadow: none;
}

// Botones
.btn-submit {
    background: $amarillo;
    border-radius: 50px;
    color: $azul;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 12px;
    width: 200px;
}

.btn-submit-upload {
  background: #F7E300;
  border-radius: 50%;
  color: #223F97 !important;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 12px;
  width: auto;
  text-align: center;
  float: left;
  cursor: pointer;
}

// Tablas
table {
    th {
        border-right: 1px solid $azul_3!important;
        color: $azul;
        font-size: 18px;
        font-weight: 600;
        padding: 2rem !important;
        // &:nth-of-type(3), &:nth-of-type(5) {
        //     border: none!important;
        // }

    }

    tr {
        td {
            border-right: 1px solid $azul_3!important;
            padding: 2rem;

            // &:nth-of-type(3), &:nth-of-type(5) {
            //     border: none!important;
            // }
        }
    }
}

.table-responsive {
    display: inline-table;
}

.content-table {
    background: $blanco !important;
    padding-top: 3%;
    padding-bottom: 3%;
}

.content-table-tickets {
    margin-top: 50px;
}

.img-footer {
    width: 60%;
}

.camera-icon {
    width: 35px;
    height: auto;
    cursor: pointer;
}

// Footer
footer {
    background: $azul_2;
}

.shadow-menu {
  box-shadow: 0px 0px 36px 0px black;
}

.dropdown-menu {
  background: $azul;
  border: 0;
}

.header-home {
  &.header-user {
    .btn-call-to-action {
        bottom: -95px;
    }
  }
}

.modal-content {
  background-color: #ffffffe3;
  border: 0;
  border-radius: 0;
  min-height: 620px;
}

.contenido-modal {
  position: absolute;
  left: 29%;
  top: 40%;

  h1 ,.h1 {
    color: white;
    font-style: inherit;
  }
}

// Estilos de errores

.alert-warning {
  color: $amarillo;
  font-size: 11px;
  background-color: transparent;
  border-color: transparent;
}

.error-form {
    font-size: 11px;
    color: $amarillo !important;
}

.invalido {
    border: 1px solid #fd4b5c;
}

.help-block {
    color: $amarillo;
    font-size: 11px;
    background-color: transparent;
    border-color: transparent;
}

.custom-margin2 {
  margin-left: 20%;
}

.inputfile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  background-color: transparent;
  color: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.label-info {
  color: white;
  overflow: hidden;
  font-size: 13px;
  cursor: pointer;
}

.img-establecimiento {
    width: 100px;
}

.dropdown {
    cursor: pointer;
}

.BotonesFooter {
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    background-color: #25D366;
    color: white !important;
    text-align: center !important;
    text-decoration: none !important;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 9999 !important;
    visibility: hidden;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.contact-border {
    border-right: 2px solid #fff;
}
.btn1 {
    color: white !important;
    padding: 10px;
    text-align: center;
    width: 100% !important;
}
