// @font-face {
//     font-family: 'HelveticaNeue';
//     src: url(../fonts/HelveticaNeue.ttc) format('truetype');
// }

footer {
  background: blue;
}

html {
  height: 100%;
}

::placeholder {
    color: $gris!important;
}
:focus{
	outline:0px!important;
}

body {
    letter-spacing: 2px;
}
a {
    &:hover {
        text-decoration: none;
    }
}

.body-bg {
    background: url('../img/backgrounds/bg-bike-mask.jpg');
}
.form-control {
    border: none;
    border-radius: 0;
    color: $gris_oscuro!important;
    height: 45px;
    letter-spacing: 2px;
}

// Botones
.btn-submit {
    background: $amarillo;
    border-radius: 50px;
    color: $azul;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 12px;
    width: 200px;
}

// Estilos de Home
.fondo {
  background: url('../img/images/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  margin-top: -18.5%;
}

.fila-header {
  height: 100%;
}

.dinamica {
  background-color: blue;
}

.pasos-img {
  width: 80%;
}

.tiendas-img {
  width: 80%;
}

.ganadores {
  background: url('../img/images/background3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

// .login {
//   background: url('../img/images/background2.jpg');
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   min-height: 100%;
// }
// .formulario-login {
//     padding: 2%;
//     background: rgba(255,255,255,0.5);
// }
