// Estilos de Home


.fila-header {
  height: 100%;
}


.link {
  color: $amarillo;
}


.ganadores {
  background-image: linear-gradient(to top, #011a3c, #01276e, #012c84, #003199, #0033a0);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#ganadores {
  .nav-tabs {
    border: none;
    margin-top: 30px;

    .nav-link {
      background-color: $gris_claro;
      border-color: $gris_claro;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      color: $azul;
      font-size: 20px;
      font-style: italic;
      font-weight: 600;
      letter-spacing: .5px;
      margin: 0px 10px;
      text-decoration: none;

      &.active {
        background-color: $blanco;
        border-color: $blanco;
      }
    }
  }

}

.ganadores_title {

  text-shadow: 5px 5px 6px $azul;
  color: $amarillo;
  font-family: 'Helvetica Neue';
  font-style: normal;

}



.pointer {
  cursor: pointer !important;
}

/* TABLAS */
.table-ganadores-home {

  th,
  td {
    &:nth-of-type(4) {
      border-right: none !important;
    }
  }
}