// Estilos de Home
.fondo {
    background: url('../img/images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin-top: -18.5%;
  }

  .fila-header {
    height: 100%;
  }

  .dinamica {
    background-color: $azul_2;
    padding-bottom: 4rem !important;
  }

  .pasos-img {
    width: 80%;
  }

  .tiendas-img {
    width: 80%;
    padding: 4%;
  }

  .ganadores {
    background: url('../img/images/background3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
