// Estilos de Home
.header-home {
  background: url('../img/images/backgorund-nuevo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .img-pleca,
  .img-silicon,
  .img-logo-ceys,
  .texto-home {
    position: absolute;
  }

  .img-pleca {
    bottom: -50px;
    right: -50px;
    width: 2000px;
  }

  .img-silicon {
    top: 33%;
    left: 16px;
    width: 600px;
  }

  .img-logo-ceys {
    bottom: 20px;
    right: 340px;
    width: 210px;
  }
//Boton para header
  .btn-call-to-action {
    background: #0033a1;
    font-style: italic;
    font-weight: 600;
    line-height: 1.2;
    position: relative;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 15px 40px;
    text-decoration: none;
    text-shadow: 4px 5px 9px rgba(1, 1, 1, 0.5);
    transition: all .2s;
  

    span {
      color: #F7E300;
      font-size: 35px;
      display: block;
    }

    &:hover, &:focus {

      letter-spacing: 3px;
     
    }
  }

  .texto-home {
    bottom: 250px;
    left: 200px;

    h1 {
      font-size: 60px;
    }

    h3 {
      font-size: 30px;
    }
  }
}

.fila-header {
  height: 100%;
}

.dinamica {
  background: url('../img/backgrounds/dinamica.png');
  background-color: #0033a1;
  background-position: right;
  background-position-y: bottom;

}
.link{
 color: $amarillo;
}
.plecatop{

  background-color: #003189;
}
.pasos-img {
  width: 150px;
}

.tiendas-img {
  width: 80%;
}

.ganadores {
  background: url('../img/images/background3.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#ganadores {
  .nav-tabs {
    border: none;
    margin-top: 30px;

    .nav-link {
      background-color: $amarillo;
      border-color: $amarillo;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      color: $azul;
      font-size: 20px;
      font-style: italic;
      font-weight: 600;
      letter-spacing: .5px;
      margin: 0px 10px;
      text-decoration: none;

      &.active {
        background-color: $blanco;
        border-color: $blanco;
      }
    }
  }
}
.ganadores_title{
  
    text-shadow: 5px 5px 6px #0033a1;
  
}
//Botton participa seccion premio
.btn-call-to-action {

  background-color: #003189;
  font-style: italic;
  font-weight: 600;
  line-height: 1.2;
  border-radius: 8px;
  padding: 15px 40px;
  text-decoration: none;
  text-shadow: 1px 5px 19px rgba(0,0,0,0.43);
  transition: all .2s;
  span {
    color: #F7E300;
    font-size: 30px;
    display: block;
  }
  &:hover, &:focus {
    color: #fff;
    letter-spacing: 3px;
  }
}


#dinamica {

  h5, .h5 {
    &.responsive-title {
        font-size: 22px;
        margin-bottom: 10px;
    }
  }

  h6, .h6 {
    &.responsive-title {
        font-size: 14px;
        line-height: 20px;
    }
  }
}
.bicicleta{

  padding-top: 30px;

}

.premio {
  border-right: 2px solid $gris_claro;
}

.pointer {
  cursor: pointer!important;
}

/* TABLAS */
.table-ganadores-home {
  th, td {
    &:nth-of-type(3) {
      border-right: none!important;
    }
  }
}
