#pageSytyle {
    padding-top: 9%;
    padding-bottom: 7%;
 
    a, p {
        color: $blanco;
        transition:all .5s ease-in-out;
    }
    a {

        &:hover {
            color: $amarillo;
        }
    }
    .panel {
        background: rgba(0, 0, 0, .2);
        border-radius: 0;
        margin-top: 5%;
        padding: 8% 18%;
        padding-top: 0%!important;
        border-radius: 5px !important;
    }
    .panel-register {
        padding: 5% 15%;
        padding-top: 5%!important;
        border-radius: 5px !important;
    }
    .panel-forget {
        padding: 10% 15%;
        padding-top: 10% !important;
        border-radius: 5px !important;
    }
    h3 {
        color: $blanco;
        font-size: 20px;
        font-weight: 600;
        padding: 25px;
        font-style: normal;
        padding-top:45px;
    }
    p {
        margin-bottom: 5px;
    }
    form.form-ajust {
        .btn-submit {
            margin-top: 20px;
        }
    }
    .content-actions {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    p, .a-forget-password, .a-login {
        font-weight: bold !important;
        text-align: left;
    }
    .a-forget-password, .a-login {
        font-size: 12px;
    }
    .a-login {
        position: relative;
        top: 20px;
    }
}
.registrate{
    font-weight: bold !important;
}