// Breakpoints para rwd 320 480 600 767 992 1250 1680
@media screen and (max-width: 1680px){
//   h3{
//     color: brown!important;
//   }
}
@media screen and (max-width: 1250px){
    // h3{
    //     color: orange!important;
    // }
    // Navbar
    .navbar {
        .navbar-nav {
            .nav-link {
                font-size: 14px;
            }
        }
    }
}
@media screen and (max-width: 992px){
    // h3{
    //     color: blue!important;
    // }
    .navbar {
        .navbar-nav {
            margin-right: 0px;
            margin-left: 0px;
            text-align: center;
            .nav-link {
                &:hover, &:focus {
                    background: rgba(1, 25, 73, 0.6);
                }
            }
        }
    }
    .navbar-brand {
        img {
            width: 300px;
        }
    }
}
@media screen and (max-width: 767px){
    // h3{
    //     color: green!important;
    // }
}
@media screen and (max-width: 600px){
    // h3{
    //   color: black!important;
    // }
    #pageSytyle {
        .panel {
            padding: 3% 5%!important;
        }
    }

    .pasos-img {
      width: 60% !important;
    }

    .text-responsive {
      text-align: center !important;
    }
}

@media screen and (max-width: 480px){
    // h3{
    //   color: yellow!important;
    // }
    .navbar-brand {
        img {
            width: 80%!important;
        }
    }

// Responsive home


  .pasos-img {
    width: 50% !important;
  }
}
@media screen and (max-width: 320px){
    // h3{
    //   color: pink!important;
    // }
}
